<!doctype html>

<html lang="en">
	<head>
	  <meta charset="utf-8">

	  <title>Phishing URL Decetor</title>
	  <meta name="description" content="Phishing URL Decetor">
	  <meta name="author" content="Fran&Mon">
	</head>

	<body>

	<div>test</div>
		<!-- on your comp: cd into folder /src and then run: `$ FLASK_APP=Routes.py flask run` to get localhost:5000-->
		<!-- use action="http://localhost:5000" in testing on your comp and action="/" in live (i think) -->
		<form action="http://localhost:5000" method="post">
		  <input type="text" name="url"></input>
		  <input type="submit" value="Submit"></input>
		</form>

<div id="per"></div>
  <script>
    
    var testper = '{{percent}}'
    document.getElementById('per').innerHTML = testper;
  </script>
	</body>
</html>