<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Phishing URL Decetor</title>
    <meta name="description" content="Phishing URL Decetor">
    <meta name="author" content="Fran&Mon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="{{url_for('static', filename='images/fish.png')}}"/>
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    -->
    <style type="text/css">
		.header-overall {
			 border-bottom: 1px solid black;
			 margin-bottom: 25px;
		}

		.header {
			padding: 25px 0px 25px 0px;
		}
		.logo-text {
			padding: 20px 0px 25px 0px;
			font-family: bold;
		}
		#per {
			margin-top: 45px;
			font-size: 3em;
		}

    </style>
</head>

<body>
<div class="container">
    <div class="row header-overall">
        <div class="col-md-8 logo-text">
            <h2>Fran&Mon</h2>
        </div>
        <div class="col-md-2 text-right header">
            <a class="text-secondary" href="contactus.html">Contact Us</a>
        </div>
        <div class="col-md-2 text-right header">
            <a class="text-secondary" href="aboutus.html">About Us</a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-7 embed-responsive embed-responsive-16by9">

            <iframe src="https://giphy.com/embed/B12pQitKCAgx2" width="480" height="360" frameBorder="0"
                    class="embed-responsive-item giphy-embed" allowFullScreen></iframe>
        </div>
        <div class="col-md-5">
            <h3>Phishing URL Detector</h3>
            <p>Paste in your questionable url here and we will calculate whether there is a high
                or low chance of it being a phishing url</p>

            <!-- on your comp: cd into folder /src and then run: `$ FLASK_APP=Routes.py flask run` to get localhost:5000-->
            <!-- use action="http://localhost:5000" in testing on your comp and action="/" in live (i think) -->
            <form action="http://localhost:5000" method="post">
                <input type="text" name="url">
                <input class="btn btn-outline-secondary" type="submit" value="Submit">
            </form>


            <div id="per"></div>
        </div>
    </div>
</div>
<script>
        perElem = document.getElementById('per');
	    var prediction = {{prediction}};
	    console.log(prediction);
	    if (prediction[0] == 0) {
	        perElem.innerHTML = 'Not phishing!';
	    }
	    else {
	        perElem.innerHTML = 'Phishing :(';
	    }

</script>
</body>
</html>